.ap {
    h1 {
        margin-top: 10%;
    }
    img {
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
    }

    form {
        position: fixed;
        top: 50%;
        left: 45%;

        input {
            width: 100%;
            height: 200%;
        }
    }

    a {
        width: 100%;
        margin-top: 23%;
        text-decoration: none;
    }

    button {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 30px;
    }
}


.sp {
    h1 {
        margin-top: 10%;
    }

    article {
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
        margin-left: 5%;

        img { margin-bottom: 3%;
            display: block;
        }
    }
    form{ font-size: 25px;
             }

    footer {
        margin-bottom: 10%;
        margin-top: -17%;
    }
}

.sp-small {
    margin-top: 8%;
    img {
        max-width: 80%;
    }

}

.sp-l {
    img {
        max-width: 100%;
    }
}

.sp-xl {
    margin-left: 25%;
    margin-top: 5%;
    img {
        max-width: 70%;
        display: block;
        margin-bottom: 3%;
    }
    form {margin-right: 60%;}
}
