.ap h1 {
  margin-top: 10%; }
.ap img {
  margin-top: 10%; }
.ap form {
  position: fixed;
  top: 50%;
  left: 45%; }
  .ap form input {
    width: 100%;
    height: 200%; }
.ap a {
  width: 100%;
  margin-top: 23%;
  text-decoration: none; }
.ap button {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 30px; }

.sp h1 {
  margin-top: 10%; }
.sp article {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: 5%; }
  .sp article img {
    margin-bottom: 3%;
    display: block; }
.sp form {
  font-size: 25px; }
.sp footer {
  margin-bottom: 10%;
  margin-top: -17%; }

.sp-small {
  margin-top: 8%; }
  .sp-small img {
    max-width: 80%; }

.sp-l img {
  max-width: 100%; }

.sp-xl {
  margin-left: 25%;
  margin-top: 5%; }
  .sp-xl img {
    max-width: 70%;
    display: block;
    margin-bottom: 3%; }
  .sp-xl form {
    margin-right: 60%; }
