/*index*/
.backgroundbody {
  background-image: url(/images/background.png);
  background-size: cover; }

.welcome {
  margin-top: 145px; }

.getboiling {
  font-family: 'Montserrat';
  margin-top: 100px; }
  .getboiling p {
    width: 150px;
    font-size: 1.5em; }

.smalleggs {
  height: 40px;
  width: 40px;
  padding-top: 1em; }

.flexineggs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

img.broken {
  padding-top: 1.5em;
  height: 300px;
  width: 390px; }

.wrongh1 {
  padding-top: 1em;
  font-size: 4em; }

.wrongbutton {
  height: 50%;
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat"; }

a {
  text-decoration: none; }
  a button .button-info {
    padding: 1em;
    line-height: 1.3em; }
