.wrongbutton  {
    height: 50%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;   
    
}


img.broken {
    padding-top: 1.5em;
    height: 300px;
    width:390px;
    

}


.wrongh1 {
    padding-top: 1em;
    font-size: 4em;
}