@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  color: white; }

body {
  font-family: 'Montserrat';
  background-color: #22afd6;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-areas: 'header' 'main' 'bottom'; }

button {
  max-width: 80%;
  min-width: 40%;
  display: inline;
  height: auto;
  align-content: center;
  border-radius: 5px;
  display: block;
  margin: auto;
  background-color: #dc5884;
  border: none; }

.egg-time {
  font-size: 15px; }

body {
  text-align: center; }

bottom {
  width: 100%; }

.time {
  margin-top: 3%;
  font-size: 55px; }

.spinning-egg {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  border: thin solid #22afd6; }

/* SCSS CODE FOR BUTTONS */
.flex-button {
  display: flex;
  flex-direction: row; }

.flex-button a {
  width: 100%;
  margin-top: 23%;
  text-decoration: none; }
  .flex-button a p {
    font-size: 20px; }

footer a button {
  width: 80%;
  height: 8vh;
  align-content: center;
  border-radius: 5px;
  display: block;
  margin: auto;
  background-color: #dc5884;
  border: none; }

/* END */
