@import 'global';
/* Fonts start */

.cooking-time {
    margin-top: 20px;
    font-size: 25px;
}

button {
    max-width: 80%;
    min-width: 50%;
    height: 50px;
    align-content: center;
    border-radius: 5px;
    display: block;
    margin: auto;
    background-color: $second-color;
    border: none;
}

.flex-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-timer section {
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.flex-timer p {
    margin-bottom: 10px;
}

.flex-timer section img {
    width: 100%;
}

.checkbox {
  width: 20px;
  position: relative;
    margin: 10px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: $second-color;
    background: linear-gradient(top, $second-color 0%, $second-color 40%, $second-color 100%);
    border-radius: 5px;
    &:after {   //checkmark
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333; 
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.8;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

.flex-buttons {
    display: flex;
    flex-direction: row;

}

/* 404 start */

#tryagain {
    border: 2px solid black;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 55px;
}

/* 404 end */

/* popup*/

#modal2{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 10;
    width: 80%;
    height: 66vh;
    background-color: lightgrey;
    border-radius: 15px;

}

#modal2 {
    .pop-tekst {
        font-size: 20px;
    }
}

#modal2.visible {
    display: block;
}
#modal3{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 10;
    width: 80%;
    height: 66vh;
    background-color: lightgrey;
    border-radius: 15px;

}

#modal3 {
    .pop-tekst {
        margin-top: 10%;
        font-size: 40px;
    }
}

#modal3.visible {
    display: block;
}

.scroll-box {
    text-align: center;
    height: 380px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    font: 25px/26px Georgia, Garamond, Serif;
    overflow: auto;
}
.scroll-box{
    table{
        font-size: 25px;
        text-decoration: underline;
   margin-left: 35%;
    }
}
