@import 'global';
/* Fonts start */

.cooking-time {
    margin-top: 20px;
    font-size: 25px;
}

button {
    max-width: 80%;
    min-width: 50%;
    height: 50px;
    align-content: center;
    border-radius: 5px;
    display: block;
    margin: auto;
    background-color: $second-color;
    border: none;
}

.flex-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-timer section {
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.flex-timer p {
    margin-bottom: 10px;
}

.flex-timer section img {
    width: 100%;
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    border: 1px solid #dc5884;
    cursor: pointer;
    position: relative;
}

/* Hide the browser's default checkbox */
.flex-timer section input {
    position: absolute;
    opacity: 0;
}

.flex-timer section span {
    align-self: center;

}

/* Create a custom checkbox */
.checkmark {
    margin-top: 5px;
    position: absolute;
    border: none;
    width: 15px;
    height: 15px;
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.flex-timer section input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.flex-timer section input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */
 .flex-timer section .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flex-buttons {
    display: flex;
    flex-direction: row;

}

/* 404 start */

#tryagain {
    border: 2px solid black;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 55px;
}

/* 404 end */
