body {
  background-color: #22afd6; }

/* Fonts start */
button {
  max-width: 80%;
  min-width: 50%;
  height: auto;
  align-content: center;
  border-radius: 5px;
  display: block;
  margin: auto;
  background-color: #dc5884;
  border: none; }

h1 {
  font-size: 50px;
  margin: 150px auto 100px auto;
  text-align: center;
  color: white; }

h2 {
  font-size: 30px;
  margin: 30px auto 100px auto;
  text-align: center;
  color: white; }

p {
  font-size: 20px;
  text-align: center;
  color: white; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  cursor: pointer; }

#welcome {
  margin-top: 60%; }

#eggcelent {
  margin-bottom: 25px;
  margin-top: 75px; }

/* Fonts end */
#getboiling {
  margin-top: 30%; }

/* Boiling options start */
#flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.flex {
  width: 40%;
  text-align: center;
  margin: 50px 10px 50px 10px; }

.flexinner {
  border: 1px solid white;
  border-radius: 5px; }

#start {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin: 5px 0px 10px 0px; }

#startlink {
  width: 95%; }

/*Boiling options end */
#broken {
  width: 80%;
  display: block;
  margin: auto; }

/* Eggtimer start */
#eggtimer {
  display: block;
  margin: 30px auto 0px auto;
  width: 80%; }

#time {
  margin: 80px auto 0px auto;
  font-size: 40px; }

/* Eggtimer end */
#soft {
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 30px; }

/* 404 start */
#tryagain {
  border: 2px solid black;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 55px; }

/* 404 end */
